﻿@model List<SocialManager.Domain.Helper.Entities.Page>
@{
    ViewData["Title"] = "facebook";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            List of Page
        </h1>
    </section>

    <div class="row">
        @foreach (SocialManager.Domain.Helper.Entities.Page p in Model)
        {

            
            <div class="col-md-3">
                <!-- WIDGET WITH AJAX STATE -->
                <div class="widget">
                    <div class="widget-header">
                        <h3>@p.id</h3>
                        
                    </div>
                    <div class="widget-content">
                        <p>@p.name</p>
                        @Html.ActionLink("Show all posts", "ShowFBPage", "Home", new { pageId = p.id, accessToken = p.access_token, pageName = p.name }, new { @class = "btn btn-primary", id = "btn-ajax-state" })
                    </div>
                </div>
                </div>
                }

            </div>



        </div>
