﻿@{
    ViewData["Title"] = "Login Page";
    var LinkedInUrl = $"https://www.linkedin.com/oauth/v2/authorization?response_type=code&client_id={ViewBag.ClientId}&redirect_uri={ViewBag.RedirectUrl}&state=kXcAera82NLVDB2&scope={ViewBag.Scope}";
}
<div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">Sign in</h2>
        <p class="text-center">Login with your social media account</p>
        <div class="text-center social-btn">
            <a href="#" class="btn btn-primary" onClick="logInWithFacebook()"><i class="fa fa-facebook"></i>&nbsp; Facebook</a>
            <a href="#" class="btn btn-info"><i class="fa fa-twitter"></i>&nbsp; Twitter</a>
            <a href="@LinkedInUrl" class="btn btn-primary" target="_blank"><i class="fa fa-linkedin"></i>&nbsp; LinkedIn</a>
        </div>
    </form>
</div>

<!-- LinkedIn signin popup -->
<div class="modal fade" id="signinLinkedInModal" tabindex="-1" role="dialog" aria-labelledby="Sign In LinkedIn" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
        </div>
    </div>
</div>
        

    <!-- facebook -->
    <script>
        logInWithFacebook = function () {
            FB.login(function (response) {
                if (response.authResponse) {
                    FB.getLoginStatus(function (response) {
                        if (response.status === 'connected') {
                            var accessToken = response.authResponse.accessToken;
                            $.ajax({
                                url: "/Home/SetAccessToken",
                                type: "post",
                                data: { 'AccessToken': accessToken },
                                success: function () {
                                    window.location.href = "/Home/Facebook";
                                }
                            });
                        }
                    });
                } else {
                    alert('User canceled login or did not fully authorize.');
                }
            });
            return false;
        };


        window.fbAsyncInit = function () {
            FB.init({
                appId: '@ViewBag.FacebookAppId',
                cookie: true,
                version: 'v5.0'
            });
            console.log("init");
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


