﻿@model List<SocialManager.Domain.Helper.Entities.Post>
@{
    ViewData["Title"] = "ShowFBPage";

}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            List of post of @ViewBag.PageName
        </h1>
    </section>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPostModal">
        Add Post
    </button>
    <table id="createPost" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>PostId</th>
                <th>Message</th>
                <th>Date creation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (SocialManager.Domain.Helper.Entities.Post p in Model)
            {
                <tr>
                    <td>@p.id</td>
                    <td>@p.message</td>
                    <td>@p.created_time</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>


    <div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("CreatePost", "Home", new { idPage = ViewBag.IdPage, pageAccessToken = ViewBag.AccessToken }, FormMethod.Post, true, new { }))
                {
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <textarea class="form-control" id="message" name="message" rows="4"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

